{% extends "base.html" %}


{% block title %}Homepage{% endblock title %}


{% block content %}
  <h1>Main page</h1>

  {% if user.is_authenticated %}
    <p>Hello, {{ user.first_name }}. You are logged in.</p>
    <a href="{% url 'auth:logout' %}"><button class="btn btn-primary">Logout</button></a>
    <a href="{% url 'users:settings' %}"><button class="btn btn-primary">Settings</button></a>
  {% else %}
    <p>Hello guest. You are not logged in.</p>
    <a href="{% url 'auth:login' %}"><button class="btn btn-primary">Login</button></a>
    <a href="{% url 'auth:signup' %}"><button class="btn btn-primary">Sign up</button></a>
  {% endif %}

{% endblock content %}
