<!doctype html>

{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}My Security Site{% endblock title %}</title>
  {% block styles %}
    <link rel="stylesheet" href="{% static 'config/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'config/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'config/css/bootstrap.min.css.map' %}">
  {% endblock styles %}
  {% block scripts_head %}
    <script src="{% static 'config/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'config/js/bootstrap.bundle.min.js.map' %}"></script>
  {% endblock scripts_head %}
</head>

<body>
  {% block content %}{% endblock content %}
  {% block scripts_body %}{% endblock scripts_body %}
</body>
</html>