{% extends "base.html" %}

{% load static i18n recaptcha2 crispy_forms_tags %}

{% block title %}Login{% endblock title %}


{% block scripts_head %}
  {{ block.super }}
  <script src="{% static 'auth_ex/js/recaptcha_api.js' %}"></script>
{% endblock scripts_head %}

{% block content %}

  <form method="post">

    {% csrf_token %}
    {{ form|crispy }}
    {% recaptcha %}
    <input id="submit-form" type="submit" value="{% trans 'Login' %}" />

  </form>

  <a href="{% url 'homepage' %}"><button>Back to homepage</button></a>

{% endblock content %}
