{% extends "base.html" %}
{% load static %}

{% block title %}Registration{% endblock title %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock styles %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="password-meter">
    <meter max="4" id="password-strength-meter"></meter>
    <p id="password-strength-text"></p>
  </div>
  <input id="submit-form" type="submit" value="Register" disabled />
</form>
{% endblock content %}

{% block scripts_body %}
  {{ block.super }}
  <script type="text/javascript" src="{% static "js/zxcvbn.js" %}"></script>
  <script type="text/javascript" src="{% static "js/registration.js" %}"></script>
{% endblock scripts_body %}
