{% extends "base.html" %}

{% load static i18n recaptcha2 crispy_forms_tags %}

{% block title %}Registration{% endblock title %}


{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'auth_ex/css/registration.css' %}">
{% endblock styles %}

{% block scripts_head %}
  {{ block.super }}
  <script src="{% static 'auth_ex/js/recaptcha_api.js' %}"></script>
{% endblock scripts_head %}

{% block content %}

  <form method="post">

    {% csrf_token %}
    {{ form|crispy }}

    <div class="password-meter">
      <meter max="4" id="password-strength-meter"></meter>
      <p>{% trans 'Password strength:' %} <strong id="password-strength-text">None</strong></p>
    </div>

    {% recaptcha %}
    <input id="submit-form" type="submit" value="{% trans 'Register' %}" disabled />

  </form>

  <a href="{% url 'homepage' %}"><button>{% trans 'Back to homepage' %}</button></a>

{% endblock content %}

{% block scripts_body %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'auth_ex/js/zxcvbn.js' %}"></script>
  <script type="text/javascript" src="{% static 'auth_ex/js/registration.js' %}"></script>
{% endblock scripts_body %}
